{% extends 'base.html' %}

{% block content %}
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          
          <h3>Forget Password?</h3>
          <p>Reset password by entering the email address</p>
        </div>

        <form class="form auth__form" method="POST">
          {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#email">Email Address: </label>
            <input
              class="input input--email"
              id="formInput#email"
              type="email"
              name="email"
              placeholder="e.g. user@domain.com"
            required/>
          </div>

          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
            <a href="{% url 'Login' %}">Login</a>
          </div>
        </form>
        <div class="auth__alternative">
          <p>Don’t have an Account?</p>
          <a href="{% url 'Signup' %}">Sign Up</a>
        </div>
      </div>
    </div>

    {% endblock %}