{% extends 'base.html' %}

{% block content %}
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          
          <h3>Account Login</h3>
          <p>Hello Developer, Welcome Back!</p>
        </div>

        <form class="form auth__form" method="post">
          {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#text">Username: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="email"
              placeholder="Enter your email..."
            />
          </div>

          <!-- Input:Password -->
          <div class="form__field">
            <label for="formInput#password">Password: </label>
            <input
              class="input input--password"
              id="formInput#passowrd"
              type="password"
              name="password"
              placeholder="••••••••"
            />
          </div>
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
            <a href="{% url 'Forgot_password' %}">Forget Password?</a>
          </div>
          {% for msg in messages %}
              <p>{{ msg }}</p>
          {% endfor %}
        </form>
        <div class="auth__alternative">
          <p>Don’t have an Account?</p>
          <a href="{% url 'Signup'%}">Sign Up</a>
        </div>
      </div>
    </div>
{% endblock %}
